.clock-container {
    box-sizing: border-box;
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    padding: 10px 0;
}

.clock {
    color: rgb(25, 135, 84);
    font-size: 3rem;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 3px 3px 5px rgba(25, 135, 84, 0.5);
    text-align: center;
}