.quote-container {
    box-sizing: border-box;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    padding: 10px 0;

    h1 {
        color: rgb(25, 135, 84);
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 3px 3px 5px rgba(25, 135, 84, 0.5);
    }

    h2 {
        font-style: italic;
        text-shadow: 3px 3px 5px rgba(19, 20, 20, 0.5);
    }

    button {
        background-color: rgb(25, 135, 84);
        color: white;
        padding: 12px 20px;
        margin-left: 10px;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;

        
    }

    button:hover {
         color: aqua;
        }
}