.main-container {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 900px) {
    flex-direction: COLUMN;
}
  
}

.app-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;

    height: 95vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;

    border: 2px solid rgb(0, 160, 100);
    border-radius: 15px;

    box-shadow: 0px 0px 10px -1px #444444;

    @media screen and (max-width: 900px) {
    height:  60vh;
}
  }

.header {
  background-color: rgb(0, 160, 100);
  box-sizing: border-box;
  height: 45px;
  position: sticky;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  font-style: italic;
  font-weight: bold;
  
}

.headtxt {
    padding: 25px 15px;
    margin: auto;
    text-decoration: underline;
    color: rgb(238, 238, 238);
   
  }

  .headtxt:hover {
      cursor: pointer;
      color: aqua;
    }

      